.progressBarContainer {
   display: flex;
   margin: 0 2rem;
   
   @media only screen and (max-width: 768px) {
      margin: 0;
   }
}

.progressBar {
   position: relative;
   display: inline-block;
   flex: 1;

   // width: 10em;
   height: 0.3rem;
   margin: 0.7rem 1rem 0.3rem 1rem;
   vertical-align: baseline;

   background-color: var(--acrylic-color);
   border-radius: var(--border-radius);

   @media only screen and (max-width: 768px) {
      width: 7em;
   }

   .progressValue {
      position: absolute;
      left: 0;
      height: 100%;

      background-color: var(--primary-color);
      border-radius: var(--border-radius);
   }
   .progressValue:hover::after {
      content: attr(data-value);
      font-size: small;
      position: absolute;
      right: 0;
      top: -300%;

      @media only screen and (max-width: 768px) {
         display: none;
      }
   }
}

.time {
   display: contents;
   font-size: small;
}
