.playerBar {
   width: 100%;
   position: fixed;
   bottom: 0;
   display: flex;
   flex-wrap: wrap;
   font-size: large;
   border-radius: var(--border-radius) var(--border-radius) 0 0;

   z-index: 10;
   transition: height 1s ease;

   > * {
      display: block;
      padding: 1rem;
   }

   .left {
      display: inline-table;
      flex: 1;
      padding: 0;

      @media only screen and (max-width: 540px) {
         display: block;
      }

      .albumArt {
         display: table-cell;
         background-size: cover;
         background-repeat: no-repeat;
         // height = width = image-height
         //                   + 2*button-padding
         //                   + 2*button-border
         //                   + 2*button-margin
         //                   + 2*playerBar-sections-padding
         height: calc(24px + 2 * 1rem + 2 * 1px + 2 * 0.3rem + 2 * 1rem);
         width: calc(24px + 2 * 1rem + 2 * 1px + 2 * 0.3rem + 2 * 1rem);

         img {
            display: none;
            position: absolute;
            padding: 0.3rem;
            border-radius: 50%;
            background-color: rgba(100, 100, 100, 0.5);

            @media only screen and (max-width: 540px) {
               display: block;
            }
         }
         img[data-visible="false"] {
            display: none;
         }
      }
      .albumInfo {
         display: inline-table;
         height: 100%;
         // copied from .albumArt
         // max-width: calc(24px + 2 * 1rem + 2 * 1px + 2 * 0.3rem + 2 * 1rem);
         // this was removed as longer names are adjusting automatically and restriction
         // on its width is only creating problems for UI.

         span {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;

            @media only screen and (max-width: 540px) {
               display: block;
            }
         }

         @media only screen and (max-width: 540px) {
            display: block;
         }
      }
      .albumInfo[data-visible="false"] {
         @media only screen and (max-width: 540px) {
            display: none;
         }
      }
   }
   .right {
      flex: 1;
      text-align: right;
      @media only screen and (max-width: 540px) {
         display: none;
      }
   }
   .center {
      flex: 1;
      text-align: center;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;

      min-width: calc(
         3 * (24px + (2 * 1rem) + (2 * 1px) + (2 * 0.3rem)) + 2 * (1rem)
      );
      // 3 x play-button + 2 x padding
      // play-button = width + 2 x padding + 2 x border + 2 x margin
   }

   button {
      border: 0;
      margin: 0.3rem;
      padding: 1rem;
      background-color: var(--tint-level1-color);
      outline: 0;
      border-radius: 50%;
      border-style: solid;
      border-width: 1px;
      border-color: #a0a0a0;

      img {
         vertical-align: middle;
      }
   }
   button:hover {
      background-color: var(--tint-level2-color);

      @media only screen and (max-width: 540px) {
         background-color: var(--tint-level1-color);
      }
   }
   button:active {
      background-color: var(--tint-level3-color);
   }

   .volumeStatus {
      vertical-align: middle;
      padding: 1rem;
   }
   .volumeStatusWrapper {
      position: relative;
   }
   .volumeStatusWrapper::after {
      content: attr(data-value) "%";
      font-size: small;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: var(--tint-level2-color);
      padding: 0.2rem;
      border-radius: var(--border-radius);

      transition: opacity 0.3s ease, transform 0.3s ease;
      opacity: 0;
   }
   .volumeStatusWrapper:hover::after {
      opacity: 1;
      transform: translateX(-50%);
   }
}
