.playerBar {
   width: 100%;
   position: fixed;
   bottom: 0;
   display: flex;
   flex-wrap: wrap;
   font-size: large;

   > * {
      display: block;
      padding: 1rem;
   }

   .left {
      flex: 1;
   }
   .right {
      flex: 1;
      text-align: right;
      @media only screen and (max-width: 540px) {
         display: none;
      }
   }
   .center {
      flex: 1;
      text-align: center;

      min-width: calc(
         3 * (24px + (2 * 1rem) + (2 * 1px) + (2 * 0.3rem)) + 2 * (1rem)
      );
      // 3 x play-button + 2 x padding
      // play-button = width + 2 x padding + 2 x border + 2 x margin
   }

   button {
      border: 0;
      margin: 0.3rem;
      padding: 1rem;
      background-color: var(--tint-level1-color);
      outline: 0;
      border-radius: 50%;
      border-style: solid;
      border-width: 1px;
      border-color: #a0a0a0;

      img {
         vertical-align: middle;
      }
   }
   button:hover {
      background-color: var(--tint-level2-color);
   }
   button:active {
      background-color: var(--tint-level3-color);
   }

   .volumeStatus {
      vertical-align: middle;
      padding: 1rem;
   }
}
