.playerBar {
   width: 100%;
   position: fixed;
   bottom: 0;
   display: flex;
   flex-wrap: wrap;
   font-size: large;
   border-radius: var(--border-radius) var(--border-radius) 0 0;

   z-index: 10;
   // transition: height 1s ease;

   > * {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 1rem 0;
   }

   audio {
      display: revert;
   }

   .left {
      display: flex;
      flex: 1;
      padding: 0;
      padding-right: 1rem;

      @media only screen and (max-width: 768px) {
         display: block;
         flex: 1;
      }

      .albumArt {
         display: table;
         background-size: cover;
         background-repeat: no-repeat;
         // height = width = image-height
         //                   + 2*button-padding
         //                   + 2*button-border
         //                   + 2*button-margin
         //                   + 2*playerBar-sections-padding
         height: calc(24px + 2 * 1rem + 2 * 1px + 2 * 0.3rem + 2 * 1rem);
         width: calc(24px + 2 * 1rem + 2 * 1px + 2 * 0.3rem + 2 * 1rem);

         img {
            display: none;
            position: absolute;
            padding: 0.3rem;
            border-radius: 50%;
            background-color: rgba(100, 100, 100, 0.5);

            @media only screen and (max-width: 768px) {
               display: block;
            }
         }
         img[data-visible="false"] {
            display: none;
         }
      }
      .albumInfo {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;

         padding-left: 1rem;
         padding-right: 1rem;

         @media only screen and (max-width: 768px) {
            display: block;
            padding-left: 0.5rem;
         }

         span {
            position: relative;
            overflow-wrap: break-word;
         }
      }
      .albumInfo[data-visible="false"] {
         @media only screen and (max-width: 768px) {
            display: none;
         }
      }

      .albumLinker {
         cursor: pointer;
         font-weight: bold;
      }
      .albumArtistInfo {
         font-size: small;
         font-style: italic;
      }
   }
   .left:hover {
      background-color: var(--tint-level2-color);

      @media only screen and (max-width: 768px) {
         background-color: initial;
      }
   }
   .right {
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      padding-right: 1rem;

      // thanks: https://stackoverflow.com/a/17967969/6262571
      transform: translate3D(0, 0, 0);

      @media only screen and (max-width: 768px) {
         display: none;
      }
   }
   .center {
      flex: 1;
      flex-direction: column;
      text-align: center;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;

      min-width: calc(
         3 * (24px + (2 * 1rem) + (2 * 1px) + (2 * 0.3rem)) + 2 * (1rem) + 2 *
            ((15px + 1rem) + (2 * 1px) + (2 * 0.3rem))
      );
      // 3 x play-button + 2 x padding + 2 x small-button
      // play-button = width + 2 x padding + 2 x border + 2 x margin
      // small-button = width + 2 x border + 2 x margin

      @media only screen and (max-width: 768px) {
         flex: 1;
         min-width: calc(
            3 * (24px + (2 * 1rem) + (2 * 1px) + (2 * 0.3rem)) + 2 * (1rem)
         );
         // just remove the width of small-buttons
         padding-right: 1rem;
      }

      .controlsWrapper {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
      }
   }

   button {
      border: 0;
      margin: 0.3rem;
      padding: 1rem;
      background-color: var(--tint-level1-color);
      outline: 0;
      border-radius: 50%;
      border-style: solid;
      border-width: 1px;
      border-color: #a0a0a0;

      img {
         vertical-align: middle;
      }
   }
   .buttonSmall {
      padding: 0;
      height: calc(15px + 1rem);
      width: calc(15px + 1rem);
      vertical-align: middle;

      img {
         width: 15px;
         height: 15px;
         margin-top: -0.2rem;
      }
   }
   .buttonSmall[data-visible="false"] {
      @media only screen and (max-width: 768px) {
         display: none;
      }
   }
   .buttonSmall[data-active="true"] {
      background-color: var(--highlight-color-no-alpha);
      // more styles added at the end of style-sheet
      // related to color config of button icon
   }
   button:hover {
      background-color: var(--tint-level2-color);

      @media only screen and (max-width: 768px) {
         background-color: var(--tint-level1-color);
      }
   }
   button:active {
      background-color: var(--tint-level3-color);
   }

   .volumeStatus {
      vertical-align: middle;
      padding: 1rem;
   }
   .volumeStatusWrapper {
      position: relative;
   }
   .volumeStatusWrapper::after {
      content: attr(data-value) "%";
      font-size: small;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: var(--tint-level2-color);
      padding: 0.2rem;
      border-radius: var(--border-radius);

      transition: opacity 0.3s ease, transform 0.3s ease;
      opacity: 0;
   }
   .volumeStatusWrapper:hover::after {
      opacity: 1;
      transform: translateX(-50%);
   }
}

// color switching of push buttons shuffle and repeat {

body .playerBar .buttonSmall[data-active="true"] img {
   filter: none;
}
// :global would prevent renaming of .light-mode
:global(body.light-mode) .playerBar .buttonSmall[data-active="true"] img {
   filter: invert(0.9);
}

// }
