.searchBoxWrapper {
   padding: 0 0 0 0.5rem;
   margin-right: 1rem;
   display: flex;
   border-radius: 5rem;
   background-color: var(--same-tint-level1-color);

   .searchBox {
      --box-width: 15rem;

      padding: 0.5rem 0.5rem;
      margin: 0;
      border: 0;
      outline: 0;
      background-color: var(--transparent-color);
      width: var(--box-width);

      transition: width 0.3s ease;
   }
   .searchBox:focus {
      --box-width: 20rem;
   }
}
