@import "./../playerqueue/PlayerQueue.module.scss";
// import player queue styles

// overloads
.section .header .heading {
   @media only screen and (max-width: 768px) {
      left: inherit;
      transform: inherit;
      margin: 0 0;
      max-width: calc(100% - 2rem - 48px);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
}
