.section {
   padding-top: 6rem;
   padding-bottom: 6.25rem;

   .header {
      --albumArtHeight: 30vh;

      background-color: var(--acrylic-color);
    //   max-height: 30%;
      padding: 3rem;

      @media only screen and (max-width: 540px) {
         height: 100%;
      }

      .back {
         position: absolute;
         height: 3rem;
         width: 3rem;
         margin-top: -1rem;
         margin-left: -1rem;
      }

      .albumArt {
         display: inline-block;
         height: var(--albumArtHeight);
         width: var(--albumArtHeight);
         margin-left: 5rem;
         border-radius: var(--border-radius);
      }

      table {
         display: inline-block;
         height: var(--albumArtHeight);
         padding-left: 2rem;

         tr {
            height: calc(var(--albumArtHeight) / 4);

            td:first-child {
               font-family: "Lato-LightItalic";
            }
         }
      }
   }

   .content {
      padding: 0 8rem 0 8rem;

      @media only screen and (max-width: 540px) {
         padding: 0;
      }
   }
}
