.nav {
   --nav-padding: 1rem;

   width: calc(100% - 2 * var(--nav-padding));
   padding: var(--nav-padding);
   position: fixed;
   display: flex;
   flex-wrap: wrap;
   font-size: large;

   > * {
      display: block;
      padding: 1rem;
   }

   .left .right {
      flex: 0;
   }
   .center {
      flex: 1;
   }
}
