.nav {
   --nav-padding: 1rem;

   width: calc(100% - 2 * var(--nav-padding));
   padding: var(--nav-padding);
   position: fixed;
   display: flex;
   flex-wrap: wrap;
   font-size: large;

   > * {
      display: block;
      padding: 1rem;
   }

   .menuButton {
      border-radius: 100%;
      border: 0;
      font-size: large;
      background-color: rgba(1, 1, 1, 0.4);
   }
   .menuButton:hover {
       background-color: rgba(1, 1, 1, 0.6);
   }
   .menuButton:active {
       background-color: rgba(1, 1, 1, 0.8);
   }

   .left .right {
      flex: 0;
   }
   .center {
      flex: 1;
   }
}
